.footer {
  background-color: #2f303a;
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  height: 603px;
  @media screen and (min-width: 768px) {
    height: 463px;
    } 
  @media screen and (min-width: 1200px) {
    display: flex;
    height: 252px;
    } 
}


.footer__logo-first {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent-color);
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    } 
}

.footer__logo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
    } 
}

.footer__address {
  margin-top: 20px;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-right: 10px;
    }
  
}

.footer__item {
  margin-bottom: 9px;
  text-align: center;
  &:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  text-align:start;
  }
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
}

.footer__mail,
.footer__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

.footer__social-text {
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
  text-align: center;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__social-item {
  width: 44px;
  height: 44px;
  margin-top: 20px;
  text-align: center;
}

.footer__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-item + .footer__social-item {
  margin-left: 10px;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: #2196f3;
}

.footer__social-icon {
  fill: #ffffff;
}

.footer__mailing{
  display: block;
  width: 100%;
  height: 86px;
  padding-top: 12px;
  @media screen and (min-width: 1200px) {
    margin-left: 95px;
    width: 570px;
    } 
}

.footer__mailing-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (min-width: 1200px) {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;}
} 

.footer__modal-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: start;}

}

.footer__input-mailing {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 15px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  @media screen and (min-width: 1200px) {
    width: 358px;
    }
}

.footer__btn-mailing {
  display: block;
  border: 0;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  text-align: center;
  padding: 10px 29px;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 20px;
  &:hover,
  &:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 1200px) {
  margin-left: 12px;
  margin-top: 0px;
  } 
}

.footer__icon-send {
  margin-left: 10px;
}

.footer__container-icon {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    } 
    @media screen and (min-width: 1200px) {
      argin: 0 auto;
      } 
}  

.container__footer-icons {
  width: 206px;
  height: 80px;
  padding-top: 12px;
  margin: 0 auto;
  margin-bottom: 60px;
  @media screen and (min-width: 768px) {
    margin: 0;
    margin-left: auto;
    }
  @media screen and (min-width: 1200px) {
      margin-left: 70px;
      margin: 0;
      } 
}

.footer__logo{
  display: flex;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    justify-content: start;
    } 
}

.footer_wrap{
  @media screen and (min-width: 768px) {
  margin-right: 75px;
    }
}